.DS_Store
/.swiftpm
/*.zip
/.build
/build
/temp
/Packages
/*.xcodeproj
xcuserdata/
*.xcframework
build/
.DS_Store
version.lock
*.zip
*.tar
.build/
.swiftpm/
.DS_Store
binpack*
*.xcuserstate
BinaryTarget/
